{
    "download_url": "https://images.igdb.com/igdb/image/upload/{{size_name}}/{{image_id}}.webp",
    "sizes": [
        {
            "name": "t_cover_small",
            "width": 90,
            "height": 128,
            "extra": "Fit"
        },
        {
            "name": "t_screenshot_med",
            "width": 569,
            "height": 320,
            "extra": "Lfill, Center gravity"
        },
        {
            "name": "t_cover_big",
            "width": 264,
            "height": 374,
            "extra": "Fit"
        },
        {
            "name": "t_logo_med",
            "width": 284,
            "height": 160,
            "extra": "Fit"
        },
        {
            "name": "t_screenshot_big",
            "width": 889,
            "height": 500,
            "extra": "Lfill, Center gravity"
        },
        {
            "name": "t_screenshot_huge",
            "width": 1280,
            "height": 720,
            "extra": "Lfill, Center gravity"
        },
        {
            "name": "t_thumb",
            "width": 90,
            "height": 90,
            "extra": "Thumb, Center gravity"
        },
        {
            "name": "t_micro",
            "width": 35,
            "height": 35,
            "extra": "Thumb, Center gravity"
        },
        {
            "name": "t_720p",
            "width": 1280,
            "height": 720,
            "extra": "Fit, Center gravity"
        },
        {
            "name": "t_1080p",
            "width": 1920,
            "height": 1080,
            "extra": "Fit, Center gravity"
        }
    ]
}